
root {
  --color-1: #F08D7E; 
  --color2: #EFA18A;
  --color3: #E2BAB1;
  --color4: #DDA6B9;
  --color5: #ACAEC5;
  --color6: #E3826F;
  --color7: #E4A9A4;
  --color8: #EFBA97;
  --color9: #F1CCBB;
  --color10: #E7D5C7; 
}

body {
  background-color: #61305D;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

.game-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
}

canvas {
  border: 4px solid #B55C6C;
  border-radius: 8px;
  background-color: #F7B679;
}

.btns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
}

button {
  background-color: #F7B679;
  border-radius: 8px;
  border: 2px solid #B55C6C;
  font-family: inherit;
  margin: 0;
  padding: 5px 20px;
  width: 100px;
}

button:not(:last-child) {
  margin-right: 10px;
}

.messages {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 80%;
  max-width: 460px;
}

p {
  display: block;
  margin: 0;
  width: 100%;
}

@media (max-width: 440px) {
  button {
    margin-top: 25px;
  }
  #up, #down {
    margin-left: 100%;
    margin-right: 100%;
  }
}